@import "../../packages/excalidraw/css/variables.module.scss";

.excalidraw {
  .ShareDialog {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include isMobile {
      height: calc(100vh - 5rem);
    }

    &__separator {
      border-top: 1px solid var(--dialog-border-color);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1em;

      span {
        background: var(--island-bg-color);
        padding: 0px 0.75rem;
        transform: translateY(-1ch);
        display: inline-flex;
        line-height: 1;
      }
    }

    &__picker {
      font-family: "Assistant";

      &__header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        font-weight: 700;
        font-size: 1.3125rem;
        line-height: 130%;

        color: var(--color-primary);
      }

      &__description {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 150%;

        text-align: center;

        color: var(--text-primary-color);

        & strong {
          display: block;
          font-weight: 700;
        }
      }

      &__button {
        display: flex;

        align-items: center;
        justify-content: center;
      }
    }

    &__active {
      &__share {
        display: none !important;

        @include isMobile {
          display: flex !important;
        }
      }

      &__header {
        margin: 0;
      }

      &__nameRow {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 0.75rem;
      }

      &__nameRow .ExcTextField {
        min-width: 0;
      }

      &__editName {
        flex: 0 0 auto;
      }

      &__linkRow {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 0.75rem;
      }

      &__qrcode {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 1rem;
        background: #fff;
        border-radius: 0.5rem;
        border: 1px solid #e0e0e0;

        $size: 150px;
        width: $size;
        height: $size;

        & svg {
          width: $size;
          height: $size;
        }

        &--loading {
          background: var(--island-bg-color);
          border: 1px solid var(--dialog-border-color);
        }
      }

      &__description {
        border-top: 1px solid var(--color-gray-20);

        padding: 0.5rem 0.5rem 0;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 150%;

        & p {
          margin: 0;
        }

        & p + p {
          margin-top: 1em;
        }
      }

      &__actions {
        display: flex;
        justify-content: center;
      }

      @include isMobile {
        &__nameRow {
          align-items: stretch;
        }

        &__editName {
          align-self: flex-end;
        }
      }
    }
  }
}
